{% extends 'UlffPhotoWorldBundle::portal.html.twig' %}

{% block contents %}

    <div class="breadcrumbs">
        &raquo;
        Home
    </div>

    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="system-message">
            {{ flashMessage }}
        </div>
    {% endfor %}

    <div>
    {% for album in albumList %}
        <div class="gallery-item-album">
            <a class="gallery-item-album-title" href="{{ path('UlffPhotoWorldBundle_albumindex', { 'id': album.id }) }}">
                {{ album.title }}
                <ul class="gallery-item-album-information">
                    <li>Created: <strong>{{ album.createdate|date('j F Y, H:i') }}</strong></li>
                    <li>Author: <strong>
                        {% if album.uid is not null %}
                            {{ album.firstname }} {{ album.lastname }}
                        {% else %}
                            <i>unknown</i>
                        {% endif %}
                    </strong></li>
                    <li>Total photos: <strong>{{ album.total }}</strong></li>
                </ul>
            </a>
        </div>
    {% else %}
        <div class="system-message">No albums yet</div>
    {% endfor %}
    </div>

{% endblock %}
