{% extends 'UlffPhotoWorldBundle::portal.html.twig' %}

{% block contents %}

    <h3>Upload photo</h3>

    {% for flashMessage in app.session.flashbag.get('photoworld-notice') %}
        {{ flashMessage }}
    {% endfor %}

    <form action="{{ path('UlffPhotoWorldBundle_uploadphoto', { 'albumid': album.id}) }}" method="post" class="form-default" {{ form_enctype(form) }}>
        {{ form_errors(form) }}

        {{ form_row(form.title) }}
        {{ form_row(form.description) }}
        {{ form_row(form.photofile) }}

        {{ form_rest(form) }}

        <input type="submit" value="Upload" class="btn btn-success"/>
        <a class="btn btn-primary" href="{{ path('UlffPhotoWorldBundle_managealbum', { 'id': album.id }) }}">Go back</a>
    </form>
    
{% endblock %}

{% block stylesheets %}

    <link href="{{ asset('bundles/ulffphotoworld/css/bootstrap.min.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('bundles/ulffphotoworld/css/portal.css') }}" type="text/css" rel="stylesheet" />

{% endblock %}